# Kafka configuration
KAFKA_URL="localhost:9092"   # e.g. "ip-broker1:9092"

# PostgreSQL + TimescaleDB configuration
PG_DATABASE_URL="postgresql+psycopg://dt:dt@localhost:5432/dt"   # PostgreSQL connection string
SQL_POOL_SIZE="5"   # SQLAlchemy connection pool size

# Flask services URLs
FLASK_DASHBOARD_URL="http://localhost:5000"
FLASK_DB_URL="http://localhost:5001/"
FLASK_AI_URL="http://localhost:5002/"

# Model Registry configuration
MODELS_DIR="../data/models/"   # relative path to stored models

# Spark configuration
PREPROCESSING_CONFIG_PATH="dt/utils/preprocessing_config.yml"
PREPROCESSING_CHECKPOINT_DIR="./spark-checkpoints/preprocessing"
MAX_STATE_HISTORY_LENGTH="256"
SPARK_LOG_LEVEL="WARN"
SPARK_APP_NAME="dt-preprocessing-app"
SPARK_STARTING_OFFSETS="latest"
